main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.form-container {
  width: 350px;
  border: 1px solid #5c5a5a;
  background-color: black;
  padding: 2rem;
  text-align: center;
  border-radius: 4px;

  h1 {
    font-family: "Billabong", cursive; // optional insta style
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    input {
      padding: 10px;
      background-color: #4a4a4a;
      border: 1px solid #5c5a5a;
      border-radius: 3px;
      font-size: 14px;
    }

    input:focus {
      border: 1px solid #a8a8a8;
      background-color: white;
    }

    button {
      margin-top: 0.8rem;
      padding: 8px;
      border: none;
      border-radius: 8px;
      background-color: #0095f6;
      color: white;
      font-weight: 600;
      cursor: pointer;
    }

    button:hover {
      background-color: #1877f2;
    }
  }
}

// main {
//   min-height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .form-container {
//   height: fit-content;
//   min-width: 400px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   gap: 1rem;

//   form {
//     display: flex;
//     flex-direction: column;
//     width: 400px;
//     gap: 1rem;

//     input {
//       padding: 7px;
//       border: none;
//       outline: none;
//       padding-inline: 1.5rem;
//       border-radius: 0.2rem;
//     }

//     button {
//       padding: 7px;
//       border: none;
//       padding-inline: 1.5rem;
//       border-radius: 0.3rem;
//       background-color: #bd0c23;
//       color: white;
//       font-size: 17px;
//       cursor: pointer;
//     }
//   }

//   .toggleAuthForm {
//     color: rgb(156, 40, 40);
//     text-decoration: none;
//   }
// }
